.realEstate-list {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
}
.realEstate-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;

  p {
    flex: 1;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    color: white;

    &:hover {
      color: #a1a1a1;
    }
  }
}

.realEstate-preview {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  align-items: center;
  padding: 10px;
  border: 1px solid #646464;
  background-color: hsla(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-bottom: 5px;
  transition: all 0.4s ease-in-out;

  p {
    flex: 1;
    text-align: center;
  }

  &:hover {
    background-color: hsla(0, 0%, 80%, 0.5);
  }
}
