.realEstate-filter-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  justify-content: flex-start;
  align-items: flex-start;

  h1 {
    font-weight: 400;
    color: white;
  }
  p {
    font-size: 12px;
    color: rgb(216, 216, 216);
  }
  h1,
  p {
    margin-bottom: 0;
    text-align: left;
  }

  .realEstate-filter {
    display: flex;
    flex-direction: row;
    gap: 80px;
    margin-top: 20px;
    .realEstate-text-label {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 9px;
    }
    .slider-number-label {
      display: flex;
      flex-direction: row;
      gap: 25px;
    }

    .MuiSlider-thumb {
      width: 12px;
      height: 12px;
      display: flex;
      outline: 0;
      position: absolute;
      box-sizing: border-box;
      margin-top: -5px;
      transition: box-shadow 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      align-items: center;
      margin-left: -6px;
      border-radius: 50%;
      justify-content: center;
      background-color: white;
    }

    .MuiSlider-track {
      height: 3px;
      display: block;
      position: absolute;
      border-radius: 1px;
      background-color: white;
    }

    .MuiSlider-root {
      color: white;
      width: 100%;
      min-width: 100px;
      cursor: pointer;
      height: 2px;
      display: inline-block;
      padding: 13px 0;
      position: relative;
      box-sizing: content-box;
      touch-action: none;
      -webkit-tap-highlight-color: transparent;
    }
  }
}
.PrivateValueLabel-offset-3 {
  display: none;
}
