.mockupLite {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 850px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 150px;

  .mockupLeft {
    background: rgb(0, 0, 0);
    /*background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.4) 90%,
      rgba(0, 0, 0, 0) 100%
    );*/
    width: 50%;
    height: 100%;

    .mockupList {
      width: 100%;
      height: 100%;
      overflow: scroll;
      overflow-x: hidden;
    }
    .mockupList::-webkit-scrollbar {
      display: none;
    }
  }
  .mockupRight {
    width: 50%;
    height: 100%;
    background: black;
  }
}
