.realEstate-filter {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  justify-content: flex-start;
  align-items: flex-start;

  h1,
  p {
    margin-bottom: 0;
    text-align: left;
  }

  .filter {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 20px;
  }
}
